In [1]:
import numpy as np
import time
import copy
import sys
print(sys.path)
sys.path.append('/home/ziniu.wzn/BayesCard')
import pandas as pd
import time
import bz2
import pickle
import logging
import ast

from DataPrepare.join_data_preparation import JoinDataPreparator
from Models.pgmpy_BN import Pgmpy_BN
from Evaluation.utils import parse_query

['/home/ziniu.wzn/BayesCard/Testing', '/home/ziniu.wzn/anaconda3/envs/deepdb/lib/python37.zip', '/home/ziniu.wzn/anaconda3/envs/deepdb/lib/python3.7', '/home/ziniu.wzn/anaconda3/envs/deepdb/lib/python3.7/lib-dynload', '', '/home/ziniu.wzn/anaconda3/envs/deepdb/lib/python3.7/site-packages', '/home/ziniu.wzn/anaconda3/envs/deepdb/lib/python3.7/site-packages/IPython/extensions', '/home/ziniu.wzn/.ipython']

In [2]:
from Schemas.imdb.schema import gen_job_light_imdb_schema
schema = gen_job_light_imdb_schema('/home/ziniu.wzn/imdb-benchmark')
from DataPrepare.join_data_preparation import JoinDataPreparator
hdf_path = "/home/ziniu.wzn/imdb-benchmark/gen_single_light"
meta_data_path = hdf_path + '/meta_data.pkl'
prep = JoinDataPreparator(meta_data_path, schema, max_table_data=20000000)
for relationship_obj in schema.relationships:
    print(relationship_obj.identifier)

movie_info_idx.movie_id = title.id
movie_info.movie_id = title.id
cast_info.movie_id = title.id
movie_keyword.movie_id = title.id
movie_companies.movie_id = title.id

In [3]:
sample_size = 10000000
relation = "movie_info_idx.movie_id = title.id"
df_samples, meta_types, null_values, full_join_est = prep.generate_n_samples(
                sample_size, relationship_list=[relation], post_sampling_factor=10)
print(full_join_est)
print(len(df_samples), len(df_samples.columns))
print(meta_types)
df_samples.head(10)

3448422.0
3448422 9
[<MetaType.REAL: 1>, <MetaType.REAL: 1>, <MetaType.REAL: 1>, <MetaType.REAL: 1>, <MetaType.REAL: 1>, <MetaType.REAL: 1>, <MetaType.REAL: 1>, <MetaType.DISCRETE: 3>, <MetaType.REAL: 1>]

,title.kind_id,title.production_year,title.mul_movie_info_idx.movie_id_nn,title.mul_movie_info.movie_id,title.mul_cast_info.movie_id,title.mul_movie_keyword.movie_id,title.mul_movie_companies.movie_id,movie_info_idx.movie_info_idx_nn,movie_info_idx.info_type_id
80889,7,1980.000000,1.0,8.0,0.0,0.0,0.0,0.0,100.002368
5156,7,2010.000000,1.0,1.0,11.0,0.0,0.0,0.0,100.002368
197772,7,1962.000000,1.0,1.0,0.0,0.0,0.0,0.0,100.002368
111913,7,2012.000000,1.0,1.0,12.0,0.0,0.0,0.0,100.002368
117556,7,1992.788762,1.0,0.0,0.0,0.0,0.0,0.0,100.002368
40704,7,1971.000000,3.0,11.0,24.0,0.0,5.0,1.0,99.000000
40704,7,1971.000000,3.0,11.0,24.0,0.0,5.0,1.0,100.000000
40704,7,1971.000000,3.0,11.0,24.0,0.0,5.0,1.0,101.000000
164312,7,1997.000000,1.0,1.0,1.0,0.0,0.0,0.0,100.002368
149337,7,2005.000000,1.0,1.0,0.0,0.0,0.0,0.0,100.002368

In [ ]:
from Models.pgmpy_BN import Pgmpy_BN, build_meta_info
meta_info = build_meta_info(df.columns)
bn = Pgmpy_BN(relation, )
bn.build_from_data(df, algorithm=algorithm, max_parents=3, ignore_cols=['id'], sample_size=200000)