In [1]:
import numpy as np
import time
import copy
import sys
sys.path.append('/home/ziniu.wzn/BayesCard')
import pandas as pd
import time
import bz2
import pickle
import logging
import ast

from Models.pgmpy_BN import Pgmpy_BN
from Evaluation.utils import parse_query

In [2]:
from Schemas.imdb.schema import gen_job_light_imdb_schema
from DataPrepare.join_data_preparation import JoinDataPreparator
schema = gen_job_light_imdb_schema('/home/ziniu.wzn/imdb-benchmark')
from DataPrepare.join_data_preparation import JoinDataPreparator
hdf_path = "/home/ziniu.wzn/imdb-benchmark/gen_single_light"
meta_data_path = hdf_path + '/meta_data.pkl'
prep = JoinDataPreparator(meta_data_path, schema, max_table_data=20000000)
for relationship_obj in schema.relationships:
    print(relationship_obj.identifier)

movie_info_idx.movie_id = title.id
movie_info.movie_id = title.id
cast_info.movie_id = title.id
movie_keyword.movie_id = title.id
movie_companies.movie_id = title.id

In [3]:
from Models.pgmpy_BN import Pgmpy_BN, build_meta_info
def train_all(algo="chow-liu", max_parents=1):
    for i, relationship_obj in enumerate(schema.relationships):
        sample_size = 10000000
        relation = relationship_obj.identifier
        df, meta_types, null_values, full_join_est = prep.generate_n_samples(
                        sample_size, relationship_list=[relation], post_sampling_factor=10)
        print(full_join_est)
        print(len(df), len(df.columns))
        print(meta_types)
        meta_info = build_meta_info(df.columns, null_values)
        bn = Pgmpy_BN(relation, meta_info, full_join_est)
        model_path = f"/home/ziniu.wzn/imdb-benchmark/BN_model/{i}_{algo}.pkl"
        print(model_path)
        bn.build_from_data(df, algorithm=algo, max_parents=max_parents, ignore_cols=['id'], sample_size=200000)
        pickle.dump(bn, open(model_path, 'wb'), pickle.HIGHEST_PROTOCOL)
        """
        try:
            BN.model = Bn.model.to_junction_tree()
            model_path = f"/home/ziniu.wzn/imdb-benchmark/BN_model/{i}_junction.pkl"
            pickle.dump(bn, open(model_path, 'wb'), pickle.HIGHEST_PROTOCOL)
        except:
            print("This BN is not able to transform into junction tree, probably because it's not connected, just use BN")
        """

In [ ]:
train_all("chow-liu", 3)

In [5]:
from Evaluation.parse_query_imdb import prepare_join_queries

In [11]:
#ensemble_location = "/home/yuxing.hyx/dataset/imdb-benchmark/spn_ensembles/ensemble_join_3_budget_5_10000000.pkl"
ensemble_location = "../Benchmark/IMDB/ensemble_loader.pkl"
#query_filename = "/home/ziniu.wzn/imdb-benchmark/cardinality/job_all.sql"
query_filename = "../Benchmark/IMDB/job-light.sql"
pairwise_rdc_path = "../Benchmark/IMDB/pairwise_rdc.pkl"
parsed_queries, true = prepare_join_queries(ensemble_location, pairwise_rdc_path, query_filename, 
                                      join_3_rdc_based=False, true_card_exist=True)

In [ ]:
parsed_queries[4]

In [9]:
from Models.BN_ensemble_model import BN_ensemble
bn_ensemble = BN_ensemble(schema)
algo = "chow-liu"
distinct_mapping = dict()
distinct_mapping['movie_keyword.keyword_id']={117: 8, 8200: 10, 398: 5, 7084: 20}
distinct_mapping['movie_companies.company_id']={22956: 62}
for i in range(5):
    with open(f"/home/ziniu.wzn/imdb-benchmark/BN_model/{i}_{algo}.pkl", "rb") as f:
        bn = pickle.load(f)
        bn.init_inference_method()
        bn.n_distinct_mapping = distinct_mapping
    bn_ensemble.bns[i] = bn

In [12]:
queries = bn_ensemble.parse_query_all(parsed_queries)

{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 117.0
None
8
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 8200.0
None
10
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 8200.0
None
10
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 8200.0
None
10
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 398.0
None
5
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 398.0
None
5
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 117.0
None
8
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 398.0
None
5
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 398.0
None
5
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 398.0
None
5
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_companies.company_id 22956.0
None
62
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 398.0
None
5
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 7084.0
None
20
{'movie_keyword.keyword_id': {117: 8, 8200: 10, 398: 5, 7084: 20}, 'movie_companies.company_id': {22956: 62}} movie_keyword.keyword_id 7084.0
None
20

In [13]:
queries[4]

[6575448.0,
 {'bn_index': 3,
  'inverse': False,
  'expectation': ['title.mul_movie_companies.movie_id'],
  'query': {'movie_keyword.movie_keyword_nn': 0,
   'movie_keyword.keyword_id': [2]},
  'n_distinct': {'movie_keyword.movie_keyword_nn': array([1]),
   'movie_keyword.keyword_id': array([0.57142857])}}]

In [14]:
with open("../Benchmark/IMDB/job-light.sql", "rb") as f:
    real_query = f.readlines()

In [15]:
import time
latency = []
q_error = []
for i, q in enumerate(queries):
    tic = time.time()
    try:
        pred = bn_ensemble.cardinality(q)
    except:
        #this query itself is invalid or it is not recognizable by the learnt BN
        continue
    latency.append(time.time()-tic)
    if pred is None or pred <= 1:
        pred = 1
    error = max(pred/true[i], true[i]/pred)
    print(real_query[i])
    print(f"true cardinality {true[i]}, predicted {pred} with q-error {error}")
    q_error.append(error)

b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=112 AND mc.company_type_id=2||715\n'
true cardinality 715, predicted 3536.083801292903 with q-error 4.9455717500600045
b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=113 AND mc.company_type_id=2 AND t.production_year>2005 AND t.production_year<2010||9\n'
true cardinality 9, predicted 1.9135314657190519 with q-error 4.703345704648787
b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=112 AND mc.company_type_id=2 AND t.production_year>2010||47\n'
true cardinality 47, predicted 13.748553492837665 with q-error 3.4185414505231213
b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=113 AND mc.company_type_id=2 AND t.production_year>2000||16\n'
true cardinality 16, predicted 5.590748645462829 with q-error 2.8618707465921935
b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_keyword mk WHERE t.id=mc.movie_id AND t.id=mk.movie_id AND mk.keyword_id=117||148552\n'
true cardinality 148552, predicted 132565.40571786763 with q-error 1.120594013163252
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.production_year>2005||62682311\n'
true cardinality 62682311, predicted 59344415.51374619 with q-error 1.0562461599353126
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.production_year>2010||11990578\n'
true cardinality 11990578, predicted 14273015.206096312 with q-error 1.1903525589922614
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.production_year>1990||157041640\n'
true cardinality 157041640, predicted 155685948.55719152 with q-error 1.0087078599923258
b'SELECT COUNT(*) FROM title t,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi_idx.movie_id AND t.id=mk.movie_id AND t.production_year>2005 AND mi_idx.info_type_id=101||850677\n'
true cardinality 850677, predicted 894439.0253027341 with q-error 1.0514437622067296
b'SELECT COUNT(*) FROM title t,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi_idx.movie_id AND t.id=mk.movie_id AND t.production_year>2010 AND mi_idx.info_type_id=101||179616\n'
true cardinality 179616, predicted 237098.7919277831 with q-error 1.3200315780764693
b'SELECT COUNT(*) FROM title t,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi_idx.movie_id AND t.id=mk.movie_id AND t.production_year>1990 AND mi_idx.info_type_id=101||2031666\n'
true cardinality 2031666, predicted 1913835.6179291501 with q-error 1.0615676607577966
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.production_year>2005 AND mc.company_type_id=2||6333736\n'
true cardinality 6333736, predicted 8824564.452112537 with q-error 1.393263699673074
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.production_year>2010 AND mc.company_type_id=2||1931628\n'
true cardinality 1931628, predicted 2439552.494462486 with q-error 1.2629515074654571
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.production_year>1990 AND mc.company_type_id=2||12738520\n'
true cardinality 12738520, predicted 19101343.960686587 with q-error 1.4994947576866533
b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2010 AND mk.keyword_id=8200||1224\n'
true cardinality 1224, predicted 3033.036923143468 with q-error 2.4779713424374736
b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2014||13221\n'
true cardinality 13221, predicted 11113.345332324368 with q-error 1.1896507851281548
b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2014 AND mk.keyword_id=8200||33\n'
true cardinality 33, predicted 4.864114298589873 with q-error 6.7843800482992025
b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2000 AND mk.keyword_id=8200||1224\n'
true cardinality 1224, predicted 23427.351996570498 with q-error 19.139993461250405
b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2000||114182642\n'
true cardinality 114182642, predicted 112430732.98849767 with q-error 1.0155821185625602
b'SELECT COUNT(*) FROM cast_info ci,title t WHERE t.id=ci.movie_id AND t.production_year>1980 AND t.production_year<1995||4533382\n'
true cardinality 4533382, predicted 4548771.112637271 with q-error 1.0033946207571458
b'SELECT COUNT(*) FROM cast_info ci,title t WHERE t.id=ci.movie_id AND t.production_year>1980 AND t.production_year<1984||695701\n'
true cardinality 695701, predicted 695420.8732841848 with q-error 1.0004028160881802
b'SELECT COUNT(*) FROM cast_info ci,title t WHERE t.id=ci.movie_id AND t.production_year>1980 AND t.production_year<2010||21454165\n'
true cardinality 21454165, predicted 21519565.88652147 with q-error 1.0030484004631022
b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND ci.role_id=2||13355828\n'
true cardinality 13355828, predicted 15541338.523148363 with q-error 1.1636372168875164
b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND ci.role_id=4||4450853\n'
true cardinality 4450853, predicted 4828037.804697923 with q-error 1.0847443860082377
b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND ci.role_id=7||794591\n'
true cardinality 794591, predicted 620765.699677112 with q-error 1.2800175660692952
b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND t.production_year>2005 AND t.production_year<2015 AND ci.role_id=2||4893440\n'
true cardinality 4893440, predicted 5645138.975661941 with q-error 1.1536136083536206
b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND t.production_year>2007 AND t.production_year<2010 AND ci.role_id=2||1381288\n'
true cardinality 1381288, predicted 1584807.8690063467 with q-error 1.1473406480084867
b'SELECT COUNT(*) FROM title t,cast_info ci,movie_companies mc WHERE t.id=mc.movie_id AND t.id=ci.movie_id AND t.production_year>2005 AND ci.role_id=1||8720023\n'
true cardinality 8720023, predicted 9897129.153178982 with q-error 1.1349888817012275
b'SELECT COUNT(*) FROM title t,cast_info ci,movie_companies mc WHERE t.id=mc.movie_id AND t.id=ci.movie_id AND t.production_year>2010 AND ci.role_id=1||2873214\n'
true cardinality 2873214, predicted 3212753.630762957 with q-error 1.1181741529739717
b'SELECT COUNT(*) FROM title t,cast_info ci,movie_companies mc WHERE t.id=mc.movie_id AND t.id=ci.movie_id AND t.production_year>1990||56965403\n'
true cardinality 56965403, predicted 55883363.762553394 with q-error 1.019362457171407
b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>1950 AND t.production_year<2000||7153\n'
true cardinality 7153, predicted 6613.255155933595 with q-error 1.0816156085527913
b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2||14102\n'
true cardinality 14102, predicted 16807.845722502836 with q-error 1.191876735392344
b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.production_year>1950||31339132\n'
true cardinality 31339132, predicted 30606068.39232729 with q-error 1.023951577127642

b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND mi_idx.info_type_id=101 AND mi.info_type_id=3 AND t.production_year>2005 AND t.production_year<2008 AND mc.company_type_id=2||75440\n'
true cardinality 75440, predicted 89693.29525679503 with q-error 1.188935515068863
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND mi_idx.info_type_id=113 AND mi.info_type_id=105||72\n'
true cardinality 72, predicted 132.81843024602645 with q-error 1.8447004200837007
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND mi_idx.info_type_id=101 AND mi.info_type_id=3 AND t.production_year>2000 AND t.production_year<2010 AND mc.company_type_id=2||305691\n'
true cardinality 305691, predicted 352971.4389841684 with q-error 1.1546674222799114
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_info_idx mi_idx WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=mi_idx.movie_id AND t.kind_id=1 AND mc.company_type_id=2 AND mi_idx.info_type_id=101 AND mi.info_type_id=16||1919495\n'
true cardinality 1919495, predicted 1474424.491181683 with q-error 1.3018604964039993
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2010 AND t.kind_id=1 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||150780\n'
true cardinality 150780, predicted 203882.80627701525 with q-error 1.3521873343746866
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.kind_id=1 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||3243247\n'
true cardinality 3243247, predicted 2854063.4983030427 with q-error 1.1363611923590196
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2005 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||1043763\n'
true cardinality 1043763, predicted 1044875.5602197392 with q-error 1.0010659126829933
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mi.info_type_id=16 AND t.production_year>2000||512575801\n'
true cardinality 512575801, predicted 203329299.59845132 with q-error 2.520914605087756
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mi.info_type_id=16 AND t.production_year>2005 AND t.production_year<2010||206778521\n'
true cardinality 206778521, predicted 72472863.47207305 with q-error 2.8531854696162346
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mi.info_type_id=16 AND t.production_year>1990||625302823\n'
true cardinality 625302823, predicted 297948949.21446115 with q-error 2.098691150442394
b'SELECT COUNT(*) FROM cast_info ci,title t,movie_keyword mk,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mk.keyword_id=117||7796926\n'
true cardinality 7796926, predicted 8251602.962759377 with q-error 1.0583149003542394
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND mi.info_type_id=105 AND mi_idx.info_type_id=100||1831108\n'
true cardinality 1831108, predicted 5968831.799592098 with q-error 3.259683098753377
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=101 AND t.production_year>2008 AND t.production_year<2014||2936093\n'
true cardinality 2936093, predicted 3438974.038846366 with q-error 1.1712755824990442
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100||16461908\n'
true cardinality 16461908, predicted 75196536.13615617 with q-error 4.567911334224209
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2005 AND t.production_year<2009||24675801\n'
true cardinality 24675801, predicted 10823799.609540282 with q-error 2.27977252814717
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND ci.role_id=2 AND mi.info_type_id=16||132317651\n'
true cardinality 132317651, predicted 156389873.31007704 with q-error 1.181927521597833
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000||90649862\n'
true cardinality 90649862, predicted 39997897.03760015 with q-error 2.2663657020463925
b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>1950 AND t.kind_id=1||151179813\n'
true cardinality 151179813, predicted 153731824.7198256 with q-error 1.0168806381565347
b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2000 AND t.kind_id=1||84217062\n'
true cardinality 84217062, predicted 85432068.27927552 with q-error 1.0144270798626949
b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>1950 AND t.production_year<2000||333474\n'
true cardinality 333474, predicted 1634505.2746416542 with q-error 4.901447413116627
b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>2000 AND t.production_year<2010||307213\n'
true cardinality 307213, predicted 1396419.2078294589 with q-error 4.545443089418282
b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>1950 AND t.production_year<2010||658557\n'
true cardinality 658557, predicted 1842267.4735456742 with q-error 2.797430554296248
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2008 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||8275169\n'
true cardinality 8275169, predicted 1744560.744170471 with q-error 4.7434112154889725
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2009 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||5060606\n'
true cardinality 5060606, predicted 1218211.8055520088 with q-error 4.154126545922682
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2010||1352809555\n'
true cardinality 1352809555, predicted 384498442.14401436 with q-error 3.5183746062963333
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2010 AND mc.company_id=22956||191935\n'
true cardinality 191935, predicted 228322.18972740462 with q-error 1.1895807941615892

b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000||9537310863\n'
true cardinality 9537310863, predicted 2608330148.5945497 with q-error 3.6564814726920223
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100||492943940\n'
true cardinality 492943940, predicted 1007723674.8682328 with q-error 2.0442967102267913
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100 AND t.production_year>2010||32355583\n'
true cardinality 32355583, predicted 21757888.40659783 with q-error 1.4870736716430875
b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk,movie_info_idx mi_idx WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2000 AND t.kind_id=1 AND mi_idx.info_type_id=101||81495003\n'
true cardinality 81495003, predicted 62693931.87227087 with q-error 1.2998866168743952
b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk,movie_info_idx mi_idx WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2005 AND t.kind_id=1 AND mi_idx.info_type_id=101||51282842\n'
true cardinality 51282842, predicted 37007120.0344321 with q-error 1.3857560910518167
b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year=1998||19006\n'
true cardinality 19006, predicted 57372.10443954495 with q-error 3.018631192231135
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2000 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||26718423\n'
true cardinality 26718423, predicted 6299051.538762752 with q-error 4.241658102903534
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2005 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||15813608\n'
true cardinality 15813608, predicted 3442989.2853364088 with q-error 4.592987863003145
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000 AND t.production_year<2010 AND mk.keyword_id=7084||1067496\n'
true cardinality 1067496, predicted 1010075.0793857096 with q-error 1.056848170780742
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000 AND t.production_year<2005 AND mk.keyword_id=7084||268172\n'
true cardinality 268172, predicted 448274.57978543575 with q-error 1.6715935287257273
b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100 AND t.production_year>200||258385218\n'
true cardinality 258385218, predicted 342611480.35889435 with q-error 1.3259716752020014

In [16]:
for i in [50, 90, 95, 100]:
    print(np.percentile(q_error, i))
print(np.mean(latency))

1.3008735566391971
4.570418987102102
4.830331124184182
19.139993461250405
0.26437131336757114